name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            # Navigate to the project directory (Update this path to match your server!)
            cd ~/nextjs-frontend
            
            echo "Pulling latest changes..."
            git pull origin main
            
            echo "Rebuilding and restarting containers..."
            docker compose up -d --build
            
            echo "Deployment complete!"
